<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCcw1k2J7ZFx_lV59wow7biKB53m6_c7UU</string>
	<key>GCM_SENDER_ID</key>
	<string>1076134014363</string> 
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nexumconnects.ios</string>
	<key>PROJECT_ID</key>
	<string>nexum-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>nexum-backend.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key> 
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076134014363:ios:342d10b845570a00a7853e</string>
</dict>
</plist>